doctype html
html
  head
    title Rima Dance Academy
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/logo.webp")
                | RDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]

    block content
    footer#footer
        | copyright © 2023 RimaDanceAcademy.com  |All rights reserved   
  